@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.inicio{
    height: 100vh;
    background-image: url(img/fundo4k3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    height: 10vh;
    background-color: #ffffff;
}

.logo-nav img{
    width: 100px;
}

.links-nav{
    display: flex;
}

.itens-nav{
    list-style: none;
    display: flex;
    margin-top: -2.5vh;
    align-items: center;
    margin-left: 50%;
}

.itens-nav>li{
    transition: 100%;
    font-size: 13px;
    font-weight: 500;
}

.itens-nav>li:hover{
    opacity: 0.7;
}

.itens-nav li{
    padding-left: 20px;
}

.itens-nav li a{
    text-decoration: none;
    color: #202020;
}

.purchase-now{
    color: white;
    padding: 10px 20px;
    background-color: #ff7b00;
    border: none;
    cursor: pointer;
    margin-top: -2%;
    font-weight: 600;
    transition: 100%;
}

.purchase-now:hover{
    opacity: 0.8;
}


.titulo-pag-1{
    color: #fff;
    font-size: 3.3rem;
    margin-top: 5%;
    width: 50%;
    line-height: 45px;
    font-family: "Oswald", sans-serif;
    align-items: center;
}

.paragrafo-pag-1{
    font-size: 0.6rem;
    color: #fff;
    width: 60%;
    opacity: 0.7;
    margin-top: 3%;
    margin-left: 10%;
}

.botão-trailer{
    font-size: 0.8rem;
    color: #000000;
    width: 20%;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    background: #ff7b00;
    border: none;
    padding: 5px 0px;
    margin-top: 3%;
    margin-left: -30%;
    cursor: pointer;
}

.botão-trailer:hover{
    opacity: 0.8;
}

.titulo-inicio{
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    float: left;
    flex-direction: column;
}

.sec-cards{
    background-color: #000000;
    width: 100%;
}

.cards-com-videos{
    display: flex;
    gap: 1px;
    margin-left: 5%;
    margin-right: 5%;
}

.card-video{
    padding: 5px;
    margin-top: 5vh;
    width: 80%;
    text-align: center;
    transition: transform 0.2s;
}

.card-video:hover{
    transform: scale(1.05);
}

.card-video img{
    width: 56vh;
    height: 35vh;
}

.card-video p{
    font-size: 0.8rem;
    color: #6e6e6e;
    align-items: center;
    text-align: center;
    margin-left: -12%;

}

.card-video h3{
    font-size: 1.5rem;
    color: #ff7b00;
    text-align: left;
    margin-left: 3%;
}

.classificação{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.classificação img{
    width: 80px;
    margin-right: 2%;
    margin-left: 10%;
}

.text16{
    color: #6e6e6e;
    font-size: 0.7rem;
    width: 50%;

}

.card-2{
    display: flex;
    width: 100%;

}


.card-com-imagens{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 120vh;
    columns: 2;
    height: 50%;
    transition: transform 0.2s;

}

.card-com-imagens:hover{
    transform: scale(1.05);
}

.card-com-imagens img{
    width: 200px;
}

.ps5{
    width: 70px!important;
    margin-left: -5%;

}


.card-com-imagens h2{
    color: #fff;
    font-size: 1.5rem;
}

.card-com-imagens p{
    color: #6e6e6e;
    font-size: 0.8rem;
    margin-top: 10%;

}

.twitter {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 5%;
    align-items: center;
    
}

.nome-pessoa{
    font-size: 0.7rem;
    color: white;
    
}

.column {
    width: 60%;
    
}
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    column-gap: 5px;
    flex-direction: row; /* Altera para coluna */
    align-items: flex-start; 
    
}
.profile img {
    width: 50px;
    height: px;
    margin-right: 10px;
    transition: transform 0.2s;
    border-radius: 50%;
}

.profile img:hover{
    transform: scale(1.15);
}

.comment {
    max-width: 60%;
    font-size: 0.7rem;
    color: #acacac;
    margin-bottom: 2%;
    transition: transform 0.2s;
    cursor: pointer;
}

.comment:hover{
    transform: scale(1.15) translateX(7%);
    color: #fff ;
}

.sec-armas {
    padding: 20px;
    background-color: #000000;
}

.titulo-moments{
    font-size: 1.4rem;
    color: #ff7b00;
    margin-top: -2%;
    margin-left: 7.5%;
}

.coluna {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
}

.coluna-img {
    width: 300px; /* ajuste o tamanho conforme necessário */
    height: auto; /* para manter a proporção */
    margin: 5px; /* espaço entre as imagens */
    transition: transform 0.2s;
}

.coluna-img:hover{
    transform: scale(1.05);
}

.coluna-final{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffffff;
    margin-top: 5%;
}

.coluna-final-imgs{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.coluna-img2{
    width: 140px;
    height: 85px;
    margin: 5%;
}

.final-p{
    color: #202020;
    text-align: center;
    justify-content: center;    
    align-items: center;
    opacity: 0.8;
    width: 100%;
    font-size: 0.8rem;
}

.final-pp{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}